In [15]:
import pandas as pd

In [16]:
df = pd.read_csv("data/big_random_csv.csv")

In [17]:
df.head()

    email address  name
0  qtdk@gmail.com  qtdk
1  vfwp@gmail.com  vfwp
2  leca@gmail.com  leca
3  zvhx@gmail.com  zvhx
4  wkxb@gmail.com  wkxb

In [18]:
df_deduplicated = df.drop_duplicates()

In [19]:
print(f"length of original csv: {len(df)} rows")
print(f"length after deduplicating: {len(df_deduplicated)} rows")

length of original csv: 1000000 rows
length after deduplicating: 405692 rows

In [20]:
df_deduplicated.head()

    email address  name
0  qtdk@gmail.com  qtdk
1  vfwp@gmail.com  vfwp
2  leca@gmail.com  leca
3  zvhx@gmail.com  zvhx
4  wkxb@gmail.com  wkxb

In [21]:
df_deduplicated.to_csv("data/deduplicated_csv.csv", index=False)

In [23]:
chunked_df = pd.read_csv("data/deduplicated_csv.csv", chunksize=40000)
for n, chunk in enumerate(chunked_df):
    chunk.to_csv(f"data/chunked_csv_{n}.csv", index=False)